:host {
    flex: 1 0 auto;
}

button:focus {
    outline: 0;
}

.form-container {
    flex-basis: 375px;
    padding: 1.05em;
    background-color: var(--main-color);
    border: 3px solid var(--main-color);
    border-radius: 10px;
}