:host {
    display: flex;
    justify-content: flex-end;
}

@media(max-height:576px) {
     :host {
        justify-content: center;
    }
}

.user-details {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.user-details .user-name {
    padding-right: 0.3em;
}

.logOut-icon {
    cursor: pointer;
}