.main-container{
    margin-top: 1em;
    background-color: var(--main-color);
    max-width: 500px;
    border: 8px solid var(--main-color);
    border-radius: 10px;
}

.gratsLabel{
    font-size:3em;
    font-weight: bold;
}

.new-game-btn {
    margin-bottom: 0.6em;
}

@media (max-width: 575.98px){
    :host {
        font-size: 14px;
    }
}

@media (max-width: 450px){
    :host {
        font-size: 12px;
    }
}

@media (max-width: 350px){
    :host {
        font-size: 10px;
    }
}